<!-- unicode -->
<meta charset="utf-8" />

<!-- handle mobile viewports -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- site description for lighthouse SEO section -->
<meta name="description" content="mpcsh is Mark Cohen" />

<title>{{ title }}</title>

<link rel="icon" sizes="any" href="/static/nonbinary-flag.svg" />
<!-- .ico for Safari: https://caniuse.com/link-icon-svg -->
<link rel="icon" sizes="64x64" href="/static/nonbinary-flag.ico" />

<link rel="stylesheet" href="/static/css/sitewide.css" />

<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base#target -->
<base target="_top" />

<meta property="og:type" content="website" />
<meta property="og:url" content="https://mpc.sh/{{ page.url | url }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ socialDescription }}">
<meta property="og:image" content="https://mpc.sh/static/nonbinary-flag-2x1.png" />
<meta property="og:image:alt" content="The nonbinary pride flag, which consists of four horizontal stripes: yellow, white, purple, and black, from top to bottom.">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@mpcsh_">
<meta name="twitter:creator" content="@mpcsh_">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ socialDescription }}">
<meta name="twitter:image" content="https://mpc.sh/static/nonbinary-flag-1x1.png">
<meta name="twitter:image:alt" content="The nonbinary pride flag, which consists of four horizontal stripes: yellow, white, purple, and black, from top to bottom.">
